<div class="container">
<div class="sign-title">
<h2>Editer mes informations</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="sign-up form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "laissez vide si vous ne souhaitez pas modifier votre mot de passe actuel",
                required: false,
                input_html: { autocomplete: "nouveau mot de passe" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "nouveau mot de passe" } %>
    <%= f.input :current_password,
                hint: "requis pour valider les changements",
                required: true,
                input_html: { autocomplete: "mot de passe actuel" } %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :date_of_birth, start_year: Date.today.year - 110, end_year: Date.today.year %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="log">
  <div class="btn-log form-actions">
    <%= f.button :submit, "Mettre à jour" %>
  </div>
  </div>
<% end %>

<%= link_to "Supprimer mon compte / ", registration_path(resource_name), data: { confirm: "Etes-vous sur?" }, method: :delete %>

<%= link_to "Retour", :back %>
</div>
</div>
