<div class="container">
  <div class="deconstructed">
  Mes Locations
  <div>Mes Locations</div>
  <div>Mes Locations</div>
  <div>Mes Locations</div>
  <div>Mes Locations</div>
</div>
  <br>
   <div>
    <ul>
      <div class="d-flex p-2 align-content-start flex-wrap justify-content-around">
     <% @rentals.each do |rental| %>
       <li class="info-rental" style="list-style: none;">
          <div class="rental-title"><%= rental.boat.name %></div>
          <div class="rental-info">
            <%= rental.boat.description %>
            <br>
            <%= rental.date %>
          </div>
          <%= link_to("", edit_rental_path(rental), class: 'fas fa-edit') %>
          <i class="fas fa-anchor"></i>
        </li>
      <% end %>
      </div>
    </ul>
   </div>
</div>

<%= link_to('Back to home', root_path) %>
