<h1 class="title-page">My rental</h1>
<br>
<h2>First name:<%= @rental.user.first_name %></h2>
<h2>Last name:<%= @rental.user.last_name %></h2>
<h2>Price:<%= @rental.price %> $$$$$$$</h2>
<h2>Boat:<%= @rental.boat.name %></h2>
<h2>Date:<%= @rental.date %></h2>
<%= link_to("Edit my rental", edit_rental_path(@rental)) %>
<%= link_to("Delete my rental", rental_path(@rental),
      method: :delete,
      data: { confirm: "Are you sure?" }) %>
<%= link_to("Back to my rentals", rentals_path) %>
