<div class="search-div">
    <%= form_tag boats_path, class: 'd-inline-flex search-form-control form-group', method: :get do |f| %>
        <div>
            <%= text_field_tag :city,
            params[:city],
            class: error ? "invalid-search-bar": "seach-bar",
            id: 'boat-location',
            placeholder: "Entrez une ville"
            %>
            <p class="invalid-search-message"><%= error %></p>
        </div>
        <%= select_tag :distance,
        options_for_select([['5km' ,'5'], ['10km' ,'10'], ['25km' ,'25'], ['50km' ,'50']]),
        class: "distance-search"
        %>
        <%= button_tag(type: "submit", class: "btn-search") do %>
            Search <i class="fas fa-search"></i>
        <% end %>
    <% end %>
</div>
