<h1>My boat</h1>
<br>
<h2>Name:<%= @boat.name %></h2>
<h2>Owner:<%= @boat.owner.first_name %></h2>
<%= link_to("Edit my boat", edit_boat_path(@boat)) %>
<%= link_to("Delete my boat", boat_path(@boat),
      method: :delete,
      data: { confirm: "Are you sure?" }) %>
<%= link_to("Back to my boats", my_boats_path) %>
