<div class="container mt-4">
  <h2>Bateaux à louer près de <%= @query %></h2>
  <div class="row cards">
      <% @boats.each do |boat| %>
        <% if boat.photo? %>
          <% background_url = cl_image_path boat.photo, width: 400, height: 500, crop: :fill %>
        <% else %>
          <% background_url = image_path 'boat.jpg' %>
        <% end %>
        <div class="card-boat">
          <%= link_to "", boat_path(boat), class: 'card-link' %>
          <img src="<%= background_url %>" />
          <div class="card-boat-infos">
            <div>
              <h2><%= boat.name %></h2>
              <p><%= boat.category %></p>
              <p><%= boat.location %></p>
            </div>
            <div>
              <h2 class="card-boat-pricing"><%= boat.price %> €/jour</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>